@import "./variables.scss";
@import "./breakpoints.scss";

.listing-details {
  padding: 40px 130px 120px;

  @include xl {
    padding: 40px 80px 120px;
  }

  @include lg {
    padding: 40px 50px 120px;
  }

  @include sm {
    padding: 40px 20px 120px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    h1 {
      font-size: 32px;
      color: #333;

      @include sm {
        font-size: 26px;
      }
    }

    .save {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    img {
      max-width: 280px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }

  .profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0;
    }

    h3 {
      font-size: 24px;
      color: #333;
    }
  }

  p {
    max-width: 800px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  .highlight {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }

  .highlightDesc {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  .booking {
    display: flex;
    flex-direction: column; /* Ajustado para diseño en columna */
    gap: 50px;

    .amenities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      margin: 30px 0;
      max-width: 700px;

      @include sm {
        grid-column-gap: 20px;
      }

      .facility {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;

        &_icon {
          font-size: 30px;
        }

        p {
          margin: 0;
        }
      }
    }

    .date-range-calendar, .card-details {
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-bottom: 10px;
      }

      .button {
        width: 100%;
        margin-top: 30px;

        @include lg {
          max-width: 300px;
        }
      }
    }
  }
}

.booking-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking-calendar, .card-details {
  flex: 1;
  margin: 0 10px;
  max-width: 500px; /* Opcional, para limitar el tamaño máximo */
}

.booking-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details h2 {
  margin-bottom: 15px;
  color: #333;
}

.card-details input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.card-details input:focus {
  border-color: #007bff;
  outline: none;
}


.button {
  width: auto; /* Ajuste de ancho automático */
  padding: 10px 70px; /* Tamaño reducido */
  background-color: #007bff; /* Color azul */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block; /* Asegura que el botón sea un bloque para centrado */
  margin: 0 auto; /* Centrado horizontal */
}

.button:hover {
  background-color: #0056b3;
}

